.block-background{
    background: linear-gradient(to bottom right, #D3D3D3, #F0F0F0); 
}
#bottomNav li a {
    color: white;
}
.mahogany{
    background-color: #734131;
    color: #DEB887;
}
.tan{
    background-color: #DEB887;
    color: #734131;
}
.info{
    width: 90%;
}
