.darker {
    background: linear-gradient(to bottom right, #DCDCDC, #C0C0C0); !important
}
.lighter {
    background: white;
}
.subtitle {
    font-size: 20px;
    color: darkred;
}

.dropColor {
    background-color: rgb(202, 202, 202);
}
.contentSection {
    margin: 10px auto 40px auto;
}

.awardColumn {
    text-align: center;
    margin-top: 15px;
    border-left: solid gray;
    border-right: solid gray;
}

#bottomNav li a {
    color: white;
}