a:link{
    color: white;
}
a:visited{
    color: white;
}
#titleHead{
    font-family: "verdana", sans-serif;
    padding-left: 1%;
}
#mainTitle{
    text-align: left;
    letter-spacing: 2px;
    font-size: 25px;
    padding-left: 15px;
}
#background{
    background-color: #F7F7F7;
}
.navbar{
    background-color: #3D5496;
    width: 100%;
    
}
.container{
    background-color: #F7F7F7;
     
}
#footer{
    padding-top: 2%;
    background-color:#3D5496;
}
#bottomNav{
    list-style-type: none;
    padding-left: 0px;
}
h6{
    margin: 20px 0px 15px 15px;
}