a:link{
    color: black;
}
a:visited{
    color: black;
}
#titleHead{
    font-family: "verdana", sans-serif;
    padding-left: 1%;
   
}
.mainTitle{
    color: black;
    /*color: #5E7FE5;*/
    text-align: left;
    letter-spacing: 2px;
    font-size: 25px;
    padding-left: 15px;
    padding-bottom: 4px;
}
.motto{
    color: black;
}
background{
    background-color: #F7F7F7;
}

.navbar{
    background-color: #dae0e5;
    width: 100%;
}
.container{
    background-color: #DCDCDC;
     
}
#footer{
    padding-top: 2%;
    background-color:#3B3B3B;
}
#bottomNav{
    list-style-type: none;
    padding-left: 0px;
}
h6{
    margin: 20px 0px 15px 15px;
}
li{
    list-style-type: none;
}
.visit{
    font-family: "Georgia", serif;
    font-size: 30px;
    color: #5E7FE5;
}
.topHeader{
   /* background-image: url("../images/bannerImage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;*/
    color: black;
    padding-top: 1%;
}
.dropColor {
    color: white;
    background-color: rgb(49, 49, 49);
}
